{% extends 'base.html' %}

{% block index %}

	{% include 'carousel.html' %}

	{% include 'price.html' %}

  	<!-- Таблица -->
  	<section>
  		<div class="container">
  			<h1 class="text-3">Цены на услуги</h1>
  			<table class="table table_one">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Услуга</th>
			      <th scope="col">Старая цена</th>
			      <th scope="col">Новая цена</th>
			    </tr>
			  </thead>
			  <tbody>
			    {% for obj in price_table %}
			    	<tr>
					  <td>{{ obj.pt_title}}</td>
					  <td><del>{{ obj.pt_old_price}}</del></td>
					  <td>{{ obj.pt_new_price}}</td>
					</tr>
			    {% endfor %}
			  </tbody>
			</table>
  		</div>
  	</section>
  	<!-- форма -->
  	<section>
  		<div class="container class_form">
  			<h1 class="text-3">Оставь заявку и получи услугу</h1>
  			<div class="row justify-content-center">
  			<form action="{% url 'thanks' %}" method="POST" style="width: 50%;">
				{% csrf_token %}
			  <div class="form-group row">
			    <label for="inputEmail3" class="col-sm-2 col-form-label">Имя</label><br>
				  {{ form.name }}
			    <div class="">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputEmail3" class="col-sm-2 col-form-label">Телефон</label><br>
				  {{ form.phone }}
			    <div class="">
			    </div>
			  </div>
			  <div style="float: right;" class="form-group row">
			      <button type="submit" class="btn btn-success">ОСТАВИТЬ ЗАЯВКУ</button>
			  </div>
			</form>
			</div>
  		</div>
  	</section>

{% endblock %}