<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Make Order</h1>
    <form action="{% url 'thanks' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ОТПРАВИТЬ</button>
    </form>
    <h1>Orders</h1>
    {% if orders %}
        <table border="1">
        <thead>
            <td>ID</td>
            <td>Дата</td>
            <td>Имя</td>
            <td>Телефон</td>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.order_dt }}</td>
                    <td>{{ order.order_name }}</td>
                    <td>{{ order.order_phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>No data available</h1>
    {% endif %}

</body>
</html>